server {
    listen 80;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location /transactions {
        proxy_pass ${VITE_API_BASE_URL};
    }

    location /accounts {
        proxy_pass ${VITE_API_BASE_URL};
    }

    location /notifications {
        proxy_pass ${VITE_API_BASE_URL};
    }

    location /auth/login {
        proxy_pass ${VITE_API_BASE_URL};
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}